body {
	color: #333;
	font-size: 16px;
	min-width: 1200px;
}

* {
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei",
		"\9ED1\4F53", Arial, sans-serif;
}

.attr_value {
	max-height: 300px;
	overflow: auto;
}

.modal-body pre {
	overflow: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.attr_value pre {
	max-height: 300px;
	overflow: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.system-name {
	color: #4DB3A2;
	font-size: 24px;
	margin-right: 24px;
	padding: 0 10px;
	text-shadow: 2px 2px 2px #333;
}

.main-content {
	min-height: 500px;
	min-width: 900px;
	position: absolute;
	top: 55px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 10px;
	overflow: hidden;
}

.caption {
	color: #4DB3A2;
	font-weight: 700;
}

.attr_container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
	bottom: 0px;
	overflow: auto;
}

.attr_container .hide {
	display: none;
}

.opt-container {
	position: absolute;
	left: 810px;
	right: 10px;
	bottom: 0px;
	top: 0px;
	overflow: hidden;
}

.opt-container .opt-nav {
	position: absolute;
	top: 105px;
	left: 0px;
	width: 250px;
	bottom: 0px;
	overflow: auto;
}

.opt-container .opt-forms {
	position: absolute;
	top: 105px;
	left: 260px;
	right: 0px;
	overflow: auto;
	bottom: 0px;
	overflow: auto;
}

.opt-panel {
	min-width: 550px;
}

.w100 {
	min-width: 100px;
}

.nav-pills>li.active>a>span.text-muted {
	color: #91BFE7;
}

.no-break {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}