body {
	color: #333;
	font-size: 16px;
	min-width: 1200px;
}

* {
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei",
		"\9ED1\4F53", Arial, sans-serif;
}

.attr_value {
	max-height: 300px;
	overflow: auto;
}

.modal-body pre {
	overflow: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.attr_value pre {
	max-height: 400px;
	overflow: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.system-name {
	color: #4DB3A2;
	font-size: 24px;
	margin-right: 24px;
	padding: 0 10px;
	text-shadow: 2px 2px 2px #333;
}

.main-content {
	min-height: 500px;
	min-width: 1200px;
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0px;
	padding: 10px;
}

.caption {
	color:#4DB3A2;
	font-weight: 700;
}